/* Algemene stijl voor de hele website */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 23px;
}
h3 {
  font-size: 15px;
}
p {
  font-size: 15px;
}
/* nav geeft de stijl aan hoe de header eruit ziet */
nav {
  background-color: #b1f5ab;
  width: 100%;
  height: 153px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#header-logo {
  position: relative;
  right: 135px;
}

/* Geef de stijl van de knoppen */
.header-buttons button {
  border: none;
  background-color: transparent;
  font-size: 17px;
  font-weight: 600;
  padding: 0 5px 0 5px;
  color: #0d9945;
}

/* Als je er maakt die een verandering */
.header-buttons button:hover {
  color: #13c55a;
  transition: 0.4s;
  font-size: 20px;
}

/* Stijl van de footer */


.footer-voorwaarden {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #f5eeab;
  color: #0d9945;
  font-size: 20px;
}

.footer-algemeen {
  width: 100%;
  background-color: #b1f5ab;
  height: 155px;
  display: flex;
  align-items: center;
  padding-left: 55px;
  gap: 200px;
}

.footer-algemeen h1 {
  color: #0d9945;
  font-weight: 600;
}
.footer-algemeen p {
  color: #0d9945;
}
#footer-openingstijden {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}
#vragen-en-contact {
  display: flex;
  margin-bottom: 4px;
}

.socialmedia, .betaal {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.socialmedia img,
.betaal img {
  width: 30px;
}
.socialmedia-info,
.betaal-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
