/* Algemene stijl voor de hele website */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 23px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 15px;
}
p {
  font-size: 15px;
}
/* nav geeft de stijl aan hoe de header eruit ziet */
nav {
  background-color: #b1f5ab;
  width: 100%;
  height: 153px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#header-logo {
  position: relative;
  right: 135px;
}

/* Geef de stijl van de knoppen */
.header-buttons button {
  border: none;
  background-color: transparent;
  font-size: 17px;
  font-weight: 600;
  padding: 0 5px 0 5px;
  color: #0d9945;
}

/* Als je er maakt die een verandering */
.header-buttons button:hover {
  color: #13c55a;
  transition: 0.4s;
  font-size: 20px;
}

/* Stijl van de landingpage */

#landingpagefoto {
  width: 100%;
  height: 400px;
  z-index: 1;
}
.boeking {
  position: relative;
  bottom: 150px;
  left: 150px;
  z-index: 2;
  background-color: white;
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 7px;
  gap: 15px;
}
.boeking input {
  padding: 10px;
  border: solid 2px black;
}
#boeking-resultaat {
  background-color: #abf5bf;
  color: #0d9945;
  border: none;
}

.boeking-blok {
  width: 600px;
  height: 200px;
  box-shadow: 0.2px 0 1em 0.02em rgb(0 0 0 / 30%);
  display: flex;
  flex-direction: row;
}
.boeking-blok:hover {
  box-shadow: 0.2px 0 1em 0.3em rgb(0 0 0 / 30%);
  transition: 0.5s;
}
.vakantie-locaties {
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.vakantie-naam {
  width: 400px;
  padding: 10px;
}
.vakantie-bestemming,
.verborgen-kosten {
  color: rgba(0, 0, 0, 0.24);
}
.vakantie-bestemming {
  padding-top: 3px;
}
#info {
  position: relative;
  top: 5px;
  left: 3px;
}
.prijs {
  font-size: 24px;
  font-weight: 500;
}
.kosten {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: 55px;
}
.hotel {
  gap: 25px;
  display: flex;
  flex-direction: column;
}

/* stijl inlog pagina */
#inlog-achtergrond {
  width: 100%;
  height: 400px;
  z-index: 1;
}
div form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#inlog-logo {
  height: 125px;
  width: 125px;
}
#inlog-form input {
  width: 400px;
  height: 45px;
  border-radius: 10px;
}
div h2 {
  text-align: center;
  padding: 20px;
}
div h3 {
  position: relative;
  left: 200px;
}

#inlog-form {
  width: 500px;
  height: 600px;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: relative;
  bottom: 155px;
}
.inlog-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Stijl van de footer */

.footer-voorwaarden {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #f5eeab;
  color: #0d9945;
  font-size: 20px;
}

.footer-algemeen {
  width: 100%;
  background-color: #b1f5ab;
  height: 155px;
  display: flex;
  align-items: center;
  padding-left: 55px;
  gap: 200px;
}

.footer-algemeen h1 {
  color: #0d9945;
  font-weight: 600;
}
.footer-algemeen p {
  color: #0d9945;
}
#footer-openingstijden {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}
#vragen-en-contact {
  display: flex;
  margin-bottom: 4px;
}

.socialmedia,
.betaal {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.socialmedia img,
.betaal img {
  width: 30px;
}
.socialmedia-info,
.betaal-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
